<h1>Blocipedia: Social, Markdown Wikis</h1>

<div class="container text-center" id="sign-up">
    <h2>Create and share Markdown Wikis</h2>
    <%= link_to "Sign Up", new_user_registration_path, :class => "btn btn-primary" %>
</div>

<div class="container">
    <div class="col-xs-6">
        <h3>Create as many public wikis as you want</h3>
        <%= image_tag "icons/free.png" %>
        <h4>Free Plan</h4>
    </div>
    
    <div class="col-xs-6">
        <h3>Create private Wikis</h3>
        <%= image_tag "icons/premium.png" %>
        <h4>Premium Plan</h4>
    </div>
</div>

